#.gradle/
#!.gradle/configuration-cache
.gradle/*
.gradle
#!/.gradle/configuration-cache/
#!/.gradle/configuration-cache/**
#!/.gradle/loom-cache/
#!/.gradle/loom-cache/**
#.IlIlIlIlIlIlIlIlIlIlIlIlIlIlIlIlIlIl
.idea/
.vscode/
/.vscode/
/.vscode/*
.settings/
/.settings/*
/.settings/
gradle/
build/
/extras/
/run/
/bin/
/bin/**
.claude/
